
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
virtualenv/
.python-version


build/
dist/
*.egg-info/
.eggs/


*.log


.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/


.ipynb_checkpoints/


.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
.env.*
